a {
    color: rgb(96, 181, 204);
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
.search-query {
    padding: 8px;
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 36px;
}
  
.search-button {
    padding: 8px 16px;
    font-size: 24px;
    color: white;
    border: 1px solid #ccc;
    background-color: rgb(96, 181, 204);
    margin-left: 12px
}
  
.search-button:hover {
    color: rgb(96, 181, 204);
    background-color: white;
}

h1 {
    color: white;
    font-weight: normal;
    margin: 0;
}

button:focus, input:focus {
    outline: none;
}

.error {
    background-color: #FF9632;
    padding: 20px;
    box-sizing: border-box;
}
